<!DOCTYPE html>
<html>

<head>
    <title>Todo Application</title>
    <meta charset="utf-8">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body background="/assets/images/background.jpg">

    <div id="app">
        <nav class="navbar is-link" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item">
                    Todo Application
                </a>
            </div>

            <div class="item-navbar">
                <div v-if="isLoggedIn">
                    <a class="button is-link" v-on:click="logoutFB">Log out</a>
                </div>
                <div v-else>
                    <a class="button is-link" v-on:click="loginFB">Log in</a>

                    <!-- <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                    </fb:login-button> -->
                </div>
            </div>
        </nav>

        <section class="hero is-info is-large">
            <div class="hero-body" hidden>
                <div class="container">
                    <h1 class="title">
                        Large title
                    </h1>
                    <h2 class="subtitle">
                        Large subtitle
                    </h2>
                </div>
            </div>
        </section>

        <div class="columns is-dark" id="main-col">
            <div class="column is-one-third" id="col-tab">
                <span id="main-title">
                    <a class="has-text-white is-size-3">
                        <strong>Todo</strong>
                    </a>
                </span>

                <div class="card" id="card-main">
                    <div class="select" id="dropdown-button">
                        <select v-model="todoSortby">
                            <option value="">Sort By</option>
                            <option value="deadline">Due Date</option>
                            <option value="priority_level">Priority</option>
                        </select>
                    </div>
                            
                    <todo v-bind:todolist="todoList" v-bind:jwt="jwt" v-bind:edittask="editTask"></todo>

                    <footer class="card-footer is-capitalized" id="card-add">
                        <a class="card-footer-item has-text-white" v-on:click="showAddTaskDialog">
                            <strong>Add New Task</strong>
                        </a>
                    </footer>

                </div>
            </div>

            <div class="column is-one-third" id="col-tab">
                <span id="main-title">
                    <a class="has-text-white is-size-3">
                        <strong>In Progress</strong>
                    </a>
                </span>
                <div class="card" id="card-main">
                    <div class="select" id="dropdown-button">
                        <select v-model="progressSortby">
                            <option value="">Sort By</option>
                            <option value="deadline">Due Date</option>
                            <option value="priority_level">Priority</option>
                        </select>
                    </div>
                    <inprogress v-bind:progresslist="progressList" v-bind:jwt="jwt" v-bind:edittask="editTask"></inprogress>
                </div>
            </div>

            <div class="column is-one-third" id="col-tab">
                <span id="main-title">
                    <a class="has-text-white is-size-3">
                        <strong>Done</strong>
                    </a>
                </span>

                <div class="card" id="card-main">
                    <div class="select" id="dropdown-button">
                        <select v-model="doneSortby">
                            <option value="">Sort By</option>
                            <option value="deadline">Due Date</option>
                            <option value="priority_level">Priority</option>
                        </select>
                    </div>
                    <done v-bind:donelist="doneList" v-bind:jwt="jwt" v-bind:edittask="editTask"></done>
                </div>
            </div>
        </div>

        <div class="modal" id="modal-add-task">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Add New Task</p>
                    <button class="delete" aria-label="close" v-on:click="closeAddTaskDialog"></button>
                </header>
                <section class="modal-card-body">
                    <div class="field">
                        <label class="label">Task name</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" placeholder="e.g. Final Project Preparation" v-model="newTask.task_name">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>

                        <br/>

                        <div class="columns">
                            <div class="column">
                                <label class="label">Task Priority Level</label>
                                <div class="select">
                                    <select v-model="newTask.priority_level">
                                        <option value="">Select priority level</option>
                                        <option value="1">High</option>
                                        <option value="2">Medium</option>
                                        <option value="3">Low</option>
                                    </select>
                                </div>
                            </div>
                            <div class="column">
                                <label class="label">Due date</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input" type="date" placeholder="e.g. Final Project" v-model="newTask.due_date">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" v-on:click="saveNewTask">Add Task</button>
                </footer>
            </div>
        </div>

        <div class="modal" id="modal-edit-task">
            <div class="modal-background"></div>
            <div class="modal-card">
                <header class="modal-card-head">
                    <p class="modal-card-title">Edit Task</p>
                    <button class="delete" aria-label="close" v-on:click="closeEditTaskDialog"></button>
                </header>
                <section class="modal-card-body">

                    <div class="field">
                        <label class="label">Task name</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input" type="email" placeholder="e.g. Final Project Preparation" v-model="editTask.task_name">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>

                        <br/>

                        <div class="columns">
                            <div class="column">
                                <label class="label">Task Priority Level</label>
                                <div class="select">
                                    <select v-model="editTask.priority_level">
                                        <option value="">Select priority level</option>
                                        <option value="1">High</option>
                                        <option value="2">Medium</option>
                                        <option value="3">Low</option>
                                    </select>
                                </div>
                            </div>
                            <div class="column">
                                <label class="label">Due date</label>
                                <div class="control has-icons-left has-icons-right">
                                    <input class="input" type="date" placeholder="e.g. Final Project" v-model="editTask.due_date">
                                    <span class="icon is-small is-left">
                                        <i class="fas fa-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-card-foot">
                    <button class="button is-success" v-on:click="editUserTask">Save Editted Task</button>
                </footer>
            </div>
        </div>
    </div>


    <template id="todo-template">
        <div>
            <div v-for="item in list">
                <div class="card" id="card-item">
                    <article class="media" id="card-content">
                        <div class="media-content">

                            <div class="content">
                                <div class="columns">
                                    <div class="column is-one-fifth">
                                        <div v-if="item.priority_level == 1">
                                            <span class="has-text-danger icon">
                                                <i class="fa fa-circle"></i>
                                            </span>
                                        </div>
                                        <div v-else-if="item.priority_level == 2">
                                            <span class="has-text-warning icon">
                                                <i class="fa fa-circle"></i>
                                            </span>
                                        </div>
                                        <div v-else>
                                            <span class="has-text-success icon">
                                                <i class="fa fa-circle"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <strong>{{item.todo_name}}</strong>
                                        <br/>
                                        <small>deadline : {{item.duedate}} </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-right">
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item" v-on:click="showEditTaskDialog(item.todo_id, item.todo_name, item.priority_level, item.duedate)">
                                        <span class="icon is-small">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a class="level-item" v-on:click="deleteTaskChild(item.todo_id)">
                                        <span class="icon is-small">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </article>

                    <footer class="card-footer">
                        <a class="card-footer-item" v-on:click="changeStatus(item.todo_id, 'PROGRESS')">Move to Progress</a>
                        <a class="card-footer-item" v-on:click="changeStatus(item.todo_id, 'DONE')">Move to Done</a>
                    </footer>
                </div>
            </div>
        </div>
    </template>

    <template id="inprogress-template">
        <div>
            <div v-for="item in list">
                <div class="card" id="card-item">
                    <article class="media" id="card-content">
                        <div class="media-content">

                            <div class="content">
                                <div class="columns">
                                    <div class="column is-one-fifth">
                                        <div v-if="item.priority_level == 1">
                                            <span class="has-text-danger icon">
                                                <i class="fa fa-circle"></i>
                                            </span>
                                        </div>
                                        <div v-else-if="item.priority_level == 2">
                                            <span class="has-text-warning icon">
                                                <i class="fa fa-circle"></i>
                                            </span>
                                        </div>
                                        <div v-else>
                                            <span class="has-text-success icon">
                                                <i class="fa fa-circle"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <strong>{{item.todo_name}}</strong>
                                        <br/>
                                        <small>deadline : {{item.duedate}} </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-right">
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item" v-on:click="showEditTaskDialog(item.todo_id, item.todo_name, item.priority_level, item.duedate)">
                                        <span class="icon is-small">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a class="level-item" v-on:click="deleteTaskChild(item.todo_id)">
                                        <span class="icon is-small">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </article>

                    <footer class="card-footer">
                        <a class="card-footer-item" v-on:click="changeStatus(item.todo_id, 'TODO')">Move to Todo</a>
                        <a class="card-footer-item" v-on:click="changeStatus(item.todo_id, 'DONE')">Move to Done</a>
                    </footer>
                </div>
            </div>
        </div>
    </template>

    <template id="done-template">
        <div>
            <div v-for="item in list">
                <div class="card" id="card-item">
                    <article class="media" id="card-content">
                        <div class="media-content">

                            <div class="content">
                                <div class="columns">
                                    <div class="column is-one-fifth">
                                        <div v-if="item.priority_level == 1">
                                            <span class="has-text-danger icon">
                                                <i class="fa fa-circle"></i>
                                            </span>
                                        </div>
                                        <div v-else-if="item.priority_level == 2">
                                            <span class="has-text-warning icon">
                                                <i class="fa fa-circle"></i>
                                            </span>
                                        </div>
                                        <div v-else>
                                            <span class="has-text-success icon">
                                                <i class="fa fa-circle"></i>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="column">
                                        <strong>{{item.todo_name}}</strong>
                                        <br/>
                                        <small>deadline : {{item.duedate}} </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media-right">
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item" v-on:click="showEditTaskDialog(item.todo_id, item.todo_name, item.priority_level, item.duedate)">
                                        <span class="icon is-small">
                                            <i class="fas fa-edit"></i>
                                        </span>
                                    </a>
                                    <a class="level-item" v-on:click="deleteTaskChild(item.todo_id)">
                                        <span class="icon is-small">
                                            <i class="fas fa-trash"></i>
                                        </span>
                                    </a>
                                </div>
                            </nav>
                        </div>
                    </article>

                    <footer class="card-footer">
                        <a class="card-footer-item" v-on:click="changeStatus(item.todo_id, 'TODO')">Move to Todo</a>
                        <a class="card-footer-item" v-on:click="changeStatus(item.todo_id, 'PROGRESS')">Move to Progress</a>
                    </footer>
                </div>
            </div>
        </div>
    </template>

    <script type="text/javascript" src="./assets/js/vue.js"></script>

</body>

</html>